<?xml version="1.0"?>
<config>
    <modules>
        <Emico_AttributeLanding>
            <version>1.0.0</version>
        </Emico_AttributeLanding>
    </modules>
    <global>
        <models>
            <emico_attributelanding>
                <class>Emico_AttributeLanding_Model</class>
                <resourceModel>emico_attributelanding_resource</resourceModel>
            </emico_attributelanding>
            <emico_attributelanding_resource>
                <class>Emico_AttributeLanding_Model_Resource</class>
                <entities>
                    <page>
                        <table>emico_attributelanding_page</table>
                    </page>
                    <page_store>
                        <table>emico_attributelanding_page_store</table>
                    </page_store>
                </entities>
            </emico_attributelanding_resource>
        </models>
        <blocks>
            <emico_attributelanding>
                <class>Emico_AttributeLanding_Block</class>
            </emico_attributelanding>
        </blocks>
        <helpers>
            <emico_attributelanding>
                <class>Emico_AttributeLanding_Helper</class>
            </emico_attributelanding>
        </helpers>
        <resources>
            <emico_attributelanding_setup>
                <setup>
                    <module>Emico_AttributeLanding</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </emico_attributelanding_setup>
        </resources>
        <events>
            <tweakwise_urlbuilder_strategy_registered>
                <observers>
                    <emico_attributelanding_tweakwise_strategy_registration>
                        <class>emico_attributelanding/observer_landingsPageStrategyResolver</class>
                        <method>disableIncorrectAttributeLandingStrategy</method>
                    </emico_attributelanding_tweakwise_strategy_registration>
                </observers>
            </tweakwise_urlbuilder_strategy_registered>
            <sitemap_categories_generating_before>
                <observers>
                    <emico_attributelanding_sitemap>
                        <class>emico_attributelanding/observer</class>
                        <method>addAttributeLandingPagesToCollection</method>
                    </emico_attributelanding_sitemap>
                </observers>
            </sitemap_categories_generating_before>
            <controller_action_layout_render_before_emico_attributelanding_index_index>
                <observers>
                    <emico_attributelanding_metadata>
                        <class>emico_attributelanding/observer</class>
                        <method>addHeadMetaData</method>
                    </emico_attributelanding_metadata>
                </observers>
            </controller_action_layout_render_before_emico_attributelanding_index_index>
        </events>
        <emico_tweakwise>
            <urlbuilder_strategies>
                <attribute_landing>
                    <class>emico_attributelanding/tweakwise_urlStrategy_attributeLandingStrategy</class>
                    <active>1</active>
                    <priority>1</priority>
                    <selectable>0</selectable>
                </attribute_landing>
                <attribute_landing_path>
                    <class>emico_attributelanding/tweakwise_urlStrategy_attributeLandingPathSlugStrategy</class>
                    <active>1</active>
                    <priority>0</priority>
                    <selectable>0</selectable>
                </attribute_landing_path>
            </urlbuilder_strategies>
        </emico_tweakwise>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <emico_attributelanding before="-">Emico_AttributeLanding_Adminhtml</emico_attributelanding>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <emico_attributelanding>
                    <file>emico_attributelanding.xml</file>
                </emico_attributelanding>
            </updates>
        </layout>
        <routers>
            <emico_attributelanding>
                <use>standard</use>
                <args>
                    <frontName>attributelanding</frontName>
                    <module>Emico_AttributeLanding</module>
                </args>
            </emico_attributelanding>
        </routers>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <emico_attributelanding>
                        <class>emico_attributelanding/observer</class>
                        <method>removeLandingFilters</method>
                    </emico_attributelanding>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <controller_action_layout_render_before_emico_attributeLanding_index_index>
                <observers>
                    <emico_tweakwise>
                        <class>emico_tweakwise/observer</class>
                        <method>handleAjaxRequest</method>
                    </emico_tweakwise>
                    <noindex>
                        <class>emico_attributelanding/observer</class>
                        <method>setNoIndexNoFollow</method>
                    </noindex>
                </observers>
            </controller_action_layout_render_before_emico_attributeLanding_index_index>
        </events>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <emico_attributelanding>
                    <file>emico_attributelanding.xml</file>
                </emico_attributelanding>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <web>
            <routers>
                <attributelanding>
                    <area>frontend</area>
                    <class>Emico_AttributeLanding_Controller_Router</class>
                </attributelanding>
            </routers>
        </web>
    </default>
</config>
